.App {
  text-align: center;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.App-header{
  background-color: black;
  height:200px;
  /* display:flex; */
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px+2vmin);
  color:white;
  padding:20px;
  cursor: pointer;
  text-align: center;
}

.spinner{
  height:80px;
  margin:auto;
}

.App-intro{
  font-size: large;
}

/* new css for movie component */
*{
  box-sizing: border-box;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.App-header h2 {
  margin: 0;
  color:white;
  font-size: 1.1vw;
}

.add-movies {
  text-align: center;
}

.add-movies button {
  font-size: 16px;
  padding: 8px;
  margin: 0 10px 30px 10px;
}

.movie {
  padding: 5px 25px 10px 25px;
  max-width: 25%;
}

.errorMessage {
  margin: auto;
  font-weight: bold;
  color: rgb(161, 15, 15);
}


/* .search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
} */


input[type="submit"] {
  padding: 5px;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  width: 80px;
  margin-left: 5px;
  cursor: pointer;
}


input[type="submit"]:hover {
  background-color: #282c34;
  color: antiquewhite;
}


.search > input[type="text"]{
  width: 40%;
  min-width: 170px;
}

@media screen and (min-width: 694px) and (max-width: 915px) {
  .movie {
    max-width: 33%;
  }
}

@media screen and (min-width: 652px) and (max-width: 693px) {
  .movie {
    max-width: 50%;
  }
}


@media screen and (max-width: 651px) {
  .movie {
    max-width: 100%;
    margin: auto;
  }
}


 .search {
	 width: 100px;
	 height: 100px;
	 margin: 20px auto;
	 /* background-color: #242628; */
   background-color: black;
   border:0.5px solid #666666;
	 position: relative;
	 overflow: hidden;
	 transition: all 0.5s ease;
}
 .search:before {
	 content: '';
	 display: block;
	 width: 3px;
	 height: 100%;
	 position: relative;
	 /* background-color: #00fede; */
   background-color: white;

	 transition: all 0.5s ease;
}
 .search.open {
	 width: 420px;
}
 .search.open:before {
	 height: 60px;
	 margin: 20px 0 20px 30px;
	 position: absolute;
}
 .search-box {
	 width: 100%;
	 height: 100%;
	 box-shadow: none;
	 border: none;
	 background: transparent;
	 color: white;
	 padding: 20px 100px 20px 45px;
	 font-size: 40px;
}
 .search-box:focus {
	 outline: none;
}
 .search-button {
	 width: 100px;
	 height: 100px;
	 display: block;
	 position: absolute;
	 right: 0;
	 top: 0;
	 padding: 20px;
	 cursor: pointer;
}
 .search-icon {
	 width: 40px;
	 height: 40px;
	 border-radius: 40px;
	 /* border: 3px solid #00fede; */
   border:3px solid white;
	 display: block;
	 position: relative;
	 margin-left: 5px;
	 transition: all 0.5s ease;
}
 .search-icon:before {
	 content: '';
	 width: 3px;
	 height: 15px;
	 position: absolute;
	 right: -2px;
	 top: 30px;
	 display: block;
	 /* background-color: #00fede; */
   	 background-color:white;
	 transform: rotate(-45deg);
	 transition: all 0.5s ease;
}
 .search-icon:after {
	 content: '';
	 width: 3px;
	 height: 15px;
	 position: absolute;
	 right: -12px;
	 top: 40px;
	 display: block;
	 /* background-color: #00fede; */
   	 background-color: white;
	 transform: rotate(-45deg);
	 transition: all 0.5s ease;
}
 .open .search-icon {
	 margin: 0;
	 width: 60px;
	 height: 60px;
	 border-radius: 60px;
}
 .open .search-icon:before {
	 transform: rotate(52deg);
	 right: 22px;
	 top: 23px;
	 height: 18px;
}
 .open .search-icon:after {
	 transform: rotate(-230deg);
	 right: 22px;
	 top: 13px;
	 height: 18px;
}
.bigWrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: black;
  /* align-content: center;
   flex-flow: row wrap; */
}
.songWrapper{
  overflow: hidden;
  /* flex:0 0 25%; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.songTitle{
  color:white;
  text-align: center;
  font-size: 1vw;
  font-weight:normal;
}
.songSingle img{
  padding:12px;
  background-color: rgba(255,255,255,0.5);
  opacity:0.9;
  /* width:220px; */
}
.songSingle img:hover{
  cursor: pointer;
  width:205px;
    background-color: rgba(255,255,255,0.8);
    opacity: 1;
}

.defWrapper{
  margin:20px auto;
  position: fixed;
  width:60vw;
  height:60vh;
  left:50%;
  margin-left: -30vw;
  top:50%;
  margin-top: -30vh;
  background-color: rgba(255,255,255,0.8);
  border-radius: 20px;
  /* position: absolute;
  display:  block;*/
  z-index: 900;
  display: none;

}
.defWrapperShow{
  display: block;
}
.titleHide{
  display: none;
}
.close{
  width:2.5vw;
  height:2.5vw;
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
  text-align: center;
  color:white;
  font-size: 1.5vw;
  margin-left:0.8vw;
  margin-top:0.8vw;
  line-height: 2.5vw;
  position: fixed;
}
.close:hover{
  cursor: pointer;
}
.info{
  width:40%;
  height:50vh;
  background-color: rgba(0,0,0,0.4);
  border-radius: 5px;
    margin-top:5vh;
}
.left-info{
  float:left;
  margin-left: 4vw;
}
.right-info{
  float:right;
  margin-right:4vw;

}
